:root {
  --background--color: #55371a;
  --text--color: #F1EADA;
  --hr--color:#935b22;
}

.card {
  align-items: center;
  text-align: center;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}

.front,
.back {
  display: block;
  padding: 10px;
  border-radius: 1em;
  align-content: center;
  color: var(--background--color);
}

.flashcard {
  display: block;
  align-content: center;
  padding: 10px 12px 10px 12px;
  max-width: 500px;
  min-height: 200px;
  margin: 0 auto;
  border-radius: 1em;
  box-shadow: .5px 2px 8px var(--background--color);
}

.replay-button svg circle {
  fill: var(--text--color);
  stroke: var(--text--color);
  stroke-width: 1;
}
.replay-button svg path {
  fill: var(--background--color);
  transform: scale(0.6) translate(19px, 20px);
}
/* tradiccion de la palabra */
span.chn_tran {
  color: #55371a !important;
}

/* Traduccion de las oraciones */
span.chn_sent {
  color: #55371a !important;
}

hr {
  margin: 0;
  border-bottom: 1px solid var(--hr--color);
  margin-bottom: 10px;
}

img {
  max-width: 95%;
  max-height: 95vh;
}

/* Night Mode */
.nightMode .card {
  background-color: var(--night--card);
}

.nightMode .front,
.nightMode .back {
  display: block;
  padding: 10px;
  border-radius: 1em;
  align-content: center;
  color: var(--text--color);
}

.nightMode .flashcard {
  display: block;
  padding: 10px 12px 10px 12px;
  align-content: center;
  max-width: 500px;
  min-height: 200px;
  margin: 0 auto;
  border-radius: 1em;
  background-color: var(--background--color);
  box-shadow: .5px 2px 8px var(--hr--color);
}

.nightMode .replay-button svg circle {
  fill: var(--text--color);
  stroke: var(--text--color);
  stroke-width: 1;
}
.replay-button svg path {
  fill: var(--background--color);
  transform: scale(0.6) translate(19px, 20px);
}

.nightMode hr {
  margin: 0;
  border-bottom: 1px solid var(--hr--color);
  margin-bottom: 10px;
}


.nightMode .url {
  font-size: 10px;
  color: var(--text--color);
}

.nightMode span.chn_tran {
  color: var(--text--color) !important;
}

/* Traduccion de las oraciones */
.nightMode span.chn_sent {
  color: var(--text--color) !important;
}