
/* created by edenilsonlr https://github.com/Edenilson-LR/Anki-Templates */
:root {
  --background--color: #e1f0f1; /* card background */
  --primary--color: #54adae; /* Text Color */
  --secondary--color: #b3dbdc; /* flashcard color */
  --shadow--color: #82c4c6;
  --hr--color: #369c9c;
  --night--background: #164440; 
  --night--primary: #e1f0f1; 
  --night--secondary: #1e5f5c; 
  --night--shadow: #206f6c;
  --night--hr: #227f7c;
}

.card {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--background--color);
  align-items: center;
  align-content: center;
}

.front,
.back {
  padding: 10px;
  align-content: center;
  color: var(--primary--color);
  background-color: var(--secondary--color);
  box-shadow: 2px, 5px, 2px, 5px var(--shadow--color);
}

.flashcard {
  display: block;
  padding: 0px 10px 12px 10px;
  border-radius: 1em;
  max-width: 500px;
  min-height: 200px;
  margin: 0 auto;
  background-color: var(--secondary--color);
  box-shadow: 2px 3px 2px 3px var(--shadow--color);
}

hr {
  size: 10px;
  stroke: var(--hr--color);
  background-color: var(--hr--color);
}

hint {
  color: var(--primary--color);
}

/* Night Mode */

.nightMode .card {
  background-color: var(night--background);
  font-size: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  align-items: center;
  align-content: center;
}


.nightMode .front,
.nightMode .back {
  padding: 10px;
  align-content: center;
  color: var(--night--primary);
  background-color: var(--night--secondary);
  box-shadow: 2px, 5px, 2px, 5px var(--night--shadow);
}

.nightMode .flashcard {
  display: block;
  padding: 0px 10px 12px 10px;
  border-radius: 1em;
  max-width: 500px;
  min-height: 200px;
  margin: 0 auto;
  background-color: var(--night--secondary);
  box-shadow: 2px 3px 2px 3px var(--night--shadow);
}

hr {
  size: 10px;
  stroke: var(--night--hr);
  background-color: var(--night--hr);
}

.nightMode .hint {
  color: var(--night--primary);
}
