.card {
    display: block;
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}
/* parte frontal */ 
.front{
    display: block;
    padding: 15px 20px 15px 20px;
    border-radius: 1em;
    color: #111636;
    background-color: #26B0B1;
    box-shadow: .5px 2px .5px 2px #565074;
}

/* parte trasera o reverso*/ 
.back{
    display: block;
    padding: 15px 20px 15px 20px;
    border-radius: 1em;
    color: #111636;
    background-color: #26B0B1;
    box-shadow: 1px 3px 1px 4px #565074;
}

/* imagen*/ 
.imagen{
    border-radius: 1em;
    min-height: 200px;
    max-width: 500px;
}

/* contenerdor principal */ 
.flashcard {
  display: block;
  padding: 15px 20px 15px 20px;
  min-height: 200px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 1em;
  background-color: #9effff;
  align-content: center;
  box-shadow: 1px 3px 1px 2px #305555;
}

/* hr edicion */ 
hr {
  border: 0;
  border-bottom: 1px solid rgb(36, 176, 211);
  margin-bottom: 15px;
}

/* Configuacion modo Noche */

.nightMode .flashcard{
  display: block;
  padding: 15px 20px 15px 20px;
  min-height: 200px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 1em;
  background-color: #0b1515;
}

.nightMode .front{
    display: block;
    padding: 15px 20px 15px 20px;
    border-radius: 1em;
    color: #b2cedd;
    background-color: #010404;
    box-shadow: .5px 2px .5px 2px #b2cedd;  
}

.nightMode .back{
    display: block;
    padding: 15px 20px 15px 20px;
    border-radius: 1em;
    color: #b2cedd;
    background-color: #010404;
    box-shadow: .5px 2px .5px 2px #b2cedd;   
}

.nightMode .replay-button svg circle {
  fill: #000000;
}

.nightMode .replay-button svg path{
    stroke: #e0ebf1;
    fill: #b2cedd;

}

.nightMode hr {
  border-color: #0a2525;
}
